<div class="city-edit" >
  <h1>{{title}}</h1>

  <p *ngIf="this.id && !city"><em>Loading...</em></p>

  <div
       [formGroup]="form"
       (ngSubmit)="onSubmit()">
       <div *ngIf="isDupeCity"
 class="alert alert-danger">
 <strong>ERROR</strong>:
 A city with the same <i>name</i>, <i>country</i> or
 <i>longitude</i> and <i>latitude</i> already exists.
 </div>
    <app-text-input [type]="'text'"
      id="name"
      formControlName="name"
      [label]="'City name...'"
      [patternErrorText]="'City name can be 2 or more chars and should contain only english letters, spaces or \''"
      ></app-text-input>
    
    <app-text-input [type]="'text'"
      id="lat"
      formControlName="lat"
      [label]="'Latitude...'"
      [patternErrorText]="'Latitude requires a positive or negative number with 0-4
      decimal values'"></app-text-input>
    
    <app-text-input [type]="'text'"
      id="lon"
      formControlName="lon"
      [label]="'Longitude...'"
      [patternErrorText]="'Longitude requires a positive or negative number with 0-4
      decimal values'"></app-text-input>

    <div class="form-group">
      <label for="lon">Country:</label>
      <br />
      <mat-form-field *ngIf="countries">
      <mat-label>Select a Country...</mat-label>
      <mat-select id="countryId" formControlName="countryId">
      <mat-option *ngFor="let country of countries"
      [value]="country.id">
      {{country.name}}
      </mat-option>
      </mat-select>
      </mat-form-field>
     </div>
    <div class="commands">
      <button type="submit"
              (click)="onSubmit()"
              [disabled]="form.invalid"
              class="btn btn-success">
        Save
      </button>
      <button *ngIf="!id"
              type="submit"
              (click)="onSubmit()"
              [disabled]="form.invalid"
              class="btn btn-success">
        Create
      </button>
      <button type="submit"
              [routerLink]="['/countries']"
              class="btn btn-default">
        Cancel
      </button>
    </div>
  </div>
</div>
